<h1>ReviewProcess#submit_work</h1>
<p>Current User ID: <%=current_user.id%></p>
<p>Find me in app/views/review_process/submit_work.html.erb</p>

<%= form_for :submission, url: submissions_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  
  <p>
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </p>
 
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
