
<% if (@has_submitted) %>
	<h3>Your Submission: <%= link_to 'Edit Your Submission', edit_submission_path(@submission_id) %></h3>
<% else %>
	<h3>Your Submission: <%= link_to 'Enter Your Submission', new_submission_path %></h3>
<% end %>


 <h1>Current Submissions</h1>
<table class="table table-striped">
  <tr>
  		<th>ID</th>
    	<th>Title</th>
     	<th>User_Id</th>
     	<th>AvgScore</th>
     	<th>Count</th>
     	<th>DoReview</th>
  </tr>
 
  <% @submissions.each do |submission| %>
    <tr>
      <td><%= submission.id %></td>
      <td><%= link_to submission.title, submission.link, target:'_blank' %></td>
      <td><%= submission.user_id %></td>
      		<% if (Review.where(submission_id: submission.id).average("score") ) %>
      			<td><%= Review.where(submission_id: submission.id).average("score").round(2) %></td>
      		<% else %>
      			<td>*.*</td>
      		<% end %>
      		<% if (Review.where(submission_id: submission.id).count ) %>
      			<td><%= Review.where(submission_id: submission.id).count %></td>
      		<% else %>
      			<td>0</td>
      		<% end %>
          
      <td>	
      		
      		<% @review = Review.find_by submission_id:submission.id, user_id:current_user.id %>
      		<% if (@review) %>    			
      			<%= link_to "edit review", submission_path(submission.id)%>(<%= @review.score%>)      			
      		<% else %>
      			<%= link_to "do review", submission_path(submission.id)%>
      		<% end %>
      		
      </td>
    </tr>
  <% end %>
</table>