

<div class="container">
<div align="center">
	<h1>Current Submissions</h1>
	<% if (@has_submitted) %>	
		<%= button_to "Edit Your Submission", edit_submission_path(@submission_id), class:"btn btn-default", type:"button", :method => :get %>	
	<% else %>
		<%= button_to "Enter Your Submission", new_submission_path, class:"btn btn-default", type:"button", :method => :get %>	
	<% end %>
</div>


<table class="table table-responsive table-bordered table-hover table-condensed">
  <tr>
  		<th>ID</th>
    	<th>Title/Link</th>
     	<th>User_Id</th>
     	<th>AvgScore</th>
     	<th>Count</th>
     	<th>DoReview</th>
  </tr>
 
  <% @submissions.each do |submission| %>
    <tr>
      <td><%= submission.id %></td>
      <td><%= link_to submission.title, submission.link, target:'_blank' %></td>
      <td><%= submission.user_id %></td>
      		<% if (Review.where(submission_id: submission.id).average("score") ) %>
      			<td><%= Review.where(submission_id: submission.id).average("score").round(2) %></td>
      		<% else %>
      			<td>*.*</td>
      		<% end %>
      		<% if (Review.where(submission_id: submission.id).count ) %>
      			<td><%= Review.where(submission_id: submission.id).count %></td>
      		<% else %>
      			<td>0</td>
      		<% end %>
          
      <td>	
      		
      		<% @review = Review.find_by submission_id:submission.id, user_id:current_user.id %>
      		<% if (@review) %>    			
      			<%= link_to "edit review", submission_path(submission.id)%>(<%= @review.score%>)      			
      		<% else %>
      			<%= link_to "do review", submission_path(submission.id)%>
      		<% end %>
      		
      </td>
    </tr>
  <% end %>
</table>
</div>