<div align="center">


<div class="table-responsive">
<table class="table table-responsive table-bordered table-hover table-condensed">
<tr><td align="center" colspan="2"><h3>Submission ID: <%=@submission.id%></h3></td></tr>
<tr>
  <td align="right"><strong>Title/Link:</strong></td>
   <td><%=link_to @submission.title, @submission.link %></td>
</tr>
 
<tr>
  <td align="right"><strong>Description:</strong></td>
  <td><%= @submission.description %></td>
</tr>

<tr>
  <td align="right"><strong>Submitter id:</strong></td>
  <td><%= @submission.user_id %></td>
</tr>

<%if (@review) %>
	<tr><td align="center" colspan="2"><h3>Your Review</h3></td></tr>
	<tr><td align="right"><strong>review_id:</strong></td><td><%= @review.id %></td></tr>
	<tr><td align="right"><strong>submission_id:</strong></td><td><%= @review.submission_id %></td></tr>
	<tr><td align="right"><strong>comment:</strong></td><td><%= @review.comment %></td></tr>
	<tr><td align="right"><strong>score:</strong></td><td><%= @review.score %></td></tr>
	<tr><td align="right"><strong>Edit:</strong></td><td><%=link_to "Edit This Review", edit_review_path(@review)%></td></tr>
	
<% else %>
  	<tr>
  	<td><strong>Enter a comment and score:</strong></td>
  	<td><%= link_to "Do Review", controller:"reviews", action:"new", submission_id:@submission.id %></td>
	</tr>
<% end %>
<tr><td align="right"><strong>Back:</strong></td><td><%=link_to "Back to list of submisions", submissions_path%></td></tr>
</table>
</div>